.formContainer {
  display: flex;
  flex-direction: row;
}

.label-group {
  margin-left: 1em;
  width: 80vh;
}

.input-group {
  border: 1px solid rgb(139, 128, 128) !important;
  border-radius: 0.5em;
  margin: 0em 0em 0.5em 0em;
  padding: 0.4em 0em 0.4em 0em;
  width: 30vh !important;
}

.input-select {
  padding: 0.4em 0.2em 0.3em 0.4em !important;
  margin: 0em 1em 0.6em 0.4em !important;
  border: 1px solid rgb(139, 128, 128) !important;
}

.BtnClient {
  margin: 1.5em 0.4em 0.4em 0.4em;
  padding: 0.5em;
  background-color: #036b52;
  border-radius: 0.5em;
  color: #fff;
}

.tableContainer{
  border-collapse: separate !important;
  border-spacing: 0 0.5em !important;
  padding: auto !important;
}

.numberTable {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  width: 10vh !important;
  background-color: #2fc18c !important; 
}

.descriptionTable {
  background-color: #EAF1EF !important;
  font-size: x-large;
  width: 50vh !important;
  /* font-weight: bold; */
  font-family: 'Roboto', sans-serif !important;
}


.emailPerson {
  background-color: #036b52 !important;
  color: #FFF;
  width: 40vh !important;
  padding-top: 0.5em !important;
  font-size: 1em !important;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}

.typePerson {
  background-color: #421981 !important;
  color: #FFF;
  font-size: 1em;
  padding-top: 0.4em !important;
  font-weight: bold;
  text-align: center;
}

.deletePerson {
  background-color: #056CF9 !important;
  color: #FFF;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.btnDelete {
  background-color: #056cf9;
  margin-top: 0.3em !important;
  color: #FFF;
  font-weight: bold;
}
