.ordersContainer a {
    color: #000 !important;
    display: flex;
    margin: 0.5em !important;
    border: 1px solid #B1C2BE !important;
    max-width: 67.2vh;
    height: 22vh;
    text-decoration: none;
}

.ordersContainer a:hover, a:active {
    background-color: unset !important;
}

.cardContainer {
    display: inline;
    justify-content: center;
}

.orderNumberContainer {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em !important;
    height: 15vh;
}

.orderDateValueContainer {
    width: 30vh;
}

.orderDataContainer {
    background-color: #EAF1EF;
    width: 60vh !important;
}

.orderDataContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.orderStatus {
    text-align: center;
    /* background-color: #000; */
    border-radius: 1em;
    padding: 1em 1em;
}

.orderDate {
    background-color: #F2FFFC;
    padding: 0.1em 1.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    text-align: center;
}

.date-order {
    margin-top: 0.5em;
}

.costumerAdress p {
    display: flex;
    flex-direction: row-reverse;
    font-weight: normal;
    width: 30em;
}