.ordersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
}

.ordersContainer a:hover, a:active {
    background-color: unset !important;
}

.cardContainer {
    margin: 1em !important;
    border: 1px solid #0202021a !important;
    width: 60vh;
    height: 15vh;
    box-shadow: 0.2em 0.2em 0em 0em rgba(0, 0, 0, 0.192);
}

.cardLink {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    height: 15vh;
}

.orderNumberContainer {
    background-color: #FFF;
    max-width: 20vh !important;
}

.Pending{
    font-weight: initial;
    text-align: center;
    margin-top: 2em;
}

.orderDateValueContainer {
    display: flex;
    flex-direction: column;
    height: 7vh;
    width: 22vh;
    margin: 0.8em 0.4em 0.4em 0.4em;
}

.orderDataContainer {   
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    background-color: #EAF1EF;
    width: 50vh !important;
}

.orderDate {
    background-color: #F2FFFC;
    border-radius: 0.3em;
    margin: 0.2em;
}

.date-order {
    text-align: center;
    margin-bottom: auto;
    padding: 0.2em;
}

.orderStatus {
    text-align: center;
    width: 25vh;
}

.costumerAdress {
    display: flex;
    flex-direction: row-reverse;
    width: 47vh;
    height: 4vh;
}

.costumerAdress p {
    font-weight: normal;
}